@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    background: black;
}

.contact-container {
    width: 450px;
    height: 500px;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.map-container img {
    content: url('/src/img/map.png');
    height: 250px;
    width: 250px;
    border-radius: 30px;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.map-container h2 {
    color: white;
    font-weight: 200;
}

.num-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.num-container h2 {
    color: white;
    font-weight: 200;
}